@font-face {
  font-family: "PlayfairDisplay";
  src: url(../font/PlayfairDisplay-Black.ttf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url(../font/PlayfairDisplay-BlackItalic.ttf);
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url(../font/PlayfairDisplay-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url(../font/PlayfairDisplay-Italic.ttf);
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url(../font/PlayfairDisplay-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url(../font/PlayfairDisplay-MediumItalic.ttf);
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url(../font/PlayfairDisplay-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url(../font/PlayfairDisplay-BoldItalic.ttf);
  font-style: italic;
  font-weight: 700;
}
body {
  font-family: "PlayfairDisplay", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}