@font-face {
  font-family: "GothicA1";
  src: url(../font/GothicA1-Black.ttf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "GothicA1";
  src: url(../font/GothicA1-BlackItalic.ttf);
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "GothicA1";
  src: url(../font/GothicA1-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "GothicA1";
  src: url(../font/GothicA1-Italic.ttf);
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "GothicA1";
  src: url(../font/GothicA1-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "GothicA1";
  src: url(../font/GothicA1-MediumItalic.ttf);
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: "GothicA1";
  src: url(../font/GothicA1-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "GothicA1";
  src: url(../font/GothicA1-BoldItalic.ttf);
  font-style: italic;
  font-weight: 700;
}
body {
  font-family: "GothicA1", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}